.center {
    margin: auto;
    width: 50%;
    border: 3px solid white;
    padding: 10px;
}
.correctResult {
    color: green;
}
.incorrectResult {
    color:red
}
.multiplierStatus {
    width: 20px;
    height: 20px;
}
.multiplierStatusBlank {
    width: 20px;
    height: 20px;
    border: 1px solid black;
    background-color: transparent;
    margin: 1px;
}
.multiplierStatusCorrect {
    width: 20px;
    height: 20px;
    border: 1px solid black;
    background-color: green;
    margin: 1px;
}
.multiplierStatusCorrectButSlow {
    width: 20px;
    height: 20px;
    border: 1px solid black;
    background-color: yellow;
    margin: 1px;
}
.multiplierStatusIncorrect {
    width: 20px;
    height: 20px;
    border: 1px solid black;
    background-color: red;
    margin: 1px;
}
.divSpacer {
    background-color: transparent;
    border: 0px;
    width:250px;
    height:auto;
    display:inline-block;
}

.bg-ocean {
    background-image: linear-gradient(to bottom, #00FFFF, #000000);
    background-attachment: fixed;
    color: #FFFFFF;
}

.bg-fire {
    background-image: linear-gradient(to bottom, #FF0000, #FFFF00);
    background-attachment: fixed;
    color: #000000;
}
/* 
.bg-light {
    background-color: white;
    color: #000000;
}

.bg-dark {
    background-color: black;
    color: #FFFFFF;
} */

.bg-shades {
    background-image: linear-gradient(to bottom right, #000000, #FFFFFF);
    background-attachment: fixed;
    color: #00FFFF;
}

.bg-whirlpool {
    background-image: radial-gradient(circle, red, orange, yellow, green, blue, purple);
    background-attachment: fixed;
    color: #000000;
}

.input-ocean {
    background-color: #000000;
    color: #FFFFFF;
    border: 2px solid #FFFFFF;
    border-radius: 5px;
}

.input-fire {
    background-color: #FFFFFF;
    color: #000000;
    border: 2px solid #000000;
    border-radius: 5px;
}

.input-light {
    background-color: #000000;
    color: #FFFFFF;
    border: 2px solid #FFFFFF;
    border-radius: 5px;
}

.input-dark {
    background-color: #FFFFFF;
    color: #000000;
    border: 2px solid #000000;
    border-radius: 5px;
}

.input-shades {
    background-color: #FFA500;
    color: #000000;
    border: 2px solid #00FFFF;
    border-radius: 5px;
}

.input-whirlpool {
    background-color: #000000;
    color: #FFFFFF;
    border: 2px solid #FFFFFF;
    border-radius: 5px;
}

.pad-tight {
    padding: 1px;
}

.pad-normal {
    padding: 3px;
}

.pad-double {
    padding: 6px;
}

.pad-triple {
    padding: 9px;
}

.pad-quad {
    padding: 12px;
}

.margin-tight {
    margin: 1px;
}

.margin-normal {
    margin: 15px;
}

.margin-double {
    margin: 30px;
}

.margin-triple {
    margin: 45px;
}

.margin-quad {
    margin: 60px;
}